name: Publish Package to npmjs
on:
    release:
        types: [created]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup node
              uses: actions/setup-node@v3
              with:
                  node-version: '24.x'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: yarn

            - name: Build monorepo
              run: yarn build

            - name: Publish packages
              run: npm publish
              env:
                NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
